* {
  font-family: "century gothic", "Trebuchet MS", "century gothic";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-bar {
  height: 100%;
  width: 70px;
  background-color: #5267B3;
  position: absolute;
  z-index: 50;
}

.burger-btn {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #5267B3;
}

.burger-btn:focus {
  background-color: #5267B3;
}

.burger-btn:before {
  margin-left: -10px;
  content: "";
  position: absolute;
  top: 0;
  width: 35px;
  background-color: black;
  height: 5px;
  border-radius: 5px;
}

.burger-btn span {
  margin-left: -10px;
  position: absolute;
  top: 12px;
  width: 35px;
  background-color: black;
  height: 5px;
  border-radius: 5px;
}

.burger-btn:after {
  margin-left: -10px;
  content: "";
  position: absolute;
  bottom: 0;
  width: 35px;
  background-color: black;
  height: 5px;
  border-radius: 5px;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  transform: translateX(-130%);
  transition: all 0.3s;
}

.menu.active {
  transform: translateX(0);
}

.blur {
  width: 100vw;
  height: 100vh;
  left: 370px;
  backdrop-filter: blur(2px);
  position: absolute;
}

.menu__content {
  margin-left: 70px;
  width: 300px;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.menu__header {
  padding: 10px;
  font-size: 2rem;
  color: white;
  border-bottom: 1px solid white;
  width: 100%;
  text-align: center;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

ul li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.material-icons {
  color: white;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .menu__content {
    width: 90%;
  }

  .blur {
    backdrop-filter: none;
  }
}
main {
  margin-left: 70px;
  padding-left: 20px;
  background-color: #5267B3;
  min-height: 100vh;
  height: 100%;
  background: radial-gradient(#e66465, #5267B3);
}

.top-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-and-country, .current-date {
  margin: 0;
  padding-top: 20px;
  font-size: 28px;
}

.state {
  margin: 0;
  padding-top: 10px;
  font-size: 18px;
}

.current-date {
  font-size: 18px;
  margin-right: 20px;
}

.weather-animation-block {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 30%;
}

.day-of-week-header {
  font-size: 24px;
}

#mane-weather-animatin {
  height: 350px;
  width: 350px;
  margin: -30px;
}

.current-temp {
  margin: 10px 0;
  font-size: 22px;
}

.weather-direction {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .city-and-country, .current-date {
    padding-top: 8px;
    font-size: 18px;
  }

  .state {
    margin: 0;
    padding-top: 8px;
    font-size: 12px;
  }
}
.other-days-weather {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.weather-card {
  margin: 10px;
  background-color: #0009;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 50px;
  border-radius: 10px;
}

.card-animation {
  margin: -70px -40px -20px -40px;
  height: 150px;
}

.current-temp-card {
  font-size: 24px;
  margin: 8px 0;
  color: #FCFCFC;
}

.day-of-week-header-card {
  font-size: 20px;
  margin: 4px 0;
  color: #F0F0F0;
}

/*# sourceMappingURL=style.css.map */
