$main-background-color: #90A8FF;

main{
    margin-left: 70px;
    padding-left: 20px;
    background-color: $main-background-color;
    height: 100vh;
}

.topMainSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city-and-country, .current-date{
    margin: 0;
    padding-top: 20px;
    font-size: 28px;
}

.state{
    margin: 0;
    padding-top: 10px;
    font-size: 18px; 
}

.current-date{
    font-size: 18px;
    margin-right: 20px;
}

p{
    margin: 0 20px 0 0;
    padding-top: 20px;
}

@media screen and (max-width:768px) {
    .city-and-country, .current-date{
        padding-top: 8px;
        font-size: 18px;
    }

    .state{
        margin: 0;
        padding-top: 8px;
        font-size: 12px; 
    }
}