$main-background-color: #5267B3;

main{
    padding-left: 90px;
    background-color: $main-background-color;
    min-height: 100vh;
    height: 100%;
    background: radial-gradient(#e66465aa, #5267B3aa);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top-main-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city-and-country, .current-date{
    margin: 0;
    padding-top: 20px;
    font-size: 28px;
    color: #c9ffed;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.state{
    margin: 0;
    padding-top: 10px;
    font-size: 18px; 
    -webkit-animation: color 5s ease-in-out infinite;
    -moz-animation: color 5s ease-in-out infinite;
    -o-animation: color 5s ease-in-out infinite;
    animation: color 5s ease-in-out infinite;
    color: white;
}

.current-date{
    font-size: 18px;
    margin-right: 20px;
}

.weather-animation-block{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30%;
    
}

.day-of-week-header{
    font-size: 24px;
    color: black;
}

#mane-weather-animatin{
    height: 350px;
    width: 350px;
    margin: -30px;
}

.current-temp{
    margin: 10px 0;
    font-size: 24px;
    color: black;
}

.weather-direction{
    margin: 5px 0;
    font-size: 20px;
    font-weight: 500;
}


@media screen and (max-width:768px) {
    .city-and-country, .current-date{
        padding-top: 8px;
        font-size: 18px;
    }

    .state{
        margin: 0;
        padding-top: 8px;
        font-size: 12px; 
    }

    main{
        padding: 48px 0 0 0;
        overflow: hidden;
    }

    .city-and-country{
        margin-left: 20px;
    }

    .state{
        margin-left: 20px;
    }

    .current-temp{
        font-size: 20px;
    }
    
    .weather-direction{
        font-size: 16px;
    }

    .current-date{
        font-size: 14px;
    }
}

@keyframes color {
    0%{color: #fcb5b5;}
    10%{color: #fcdfb5;}
    20%{color: #f7fcb5;}
    30%{color: #d7fcb5;}
    40%{color: #b7fcb5;}
    50%{color: #b5fcf0;}
    60%{color: #b5dcfc;}
    70%{color: #c2b5fc;}
    80%{color: #e8b5fc;}
    90%{color: #fcb5f0;}
    100%{color: #fcb5c7;}
    }
