$main-background-color: #90A8FF;

main{
    margin-left: 70px;
    padding-left: 20px;
    background-color: $main-background-color;
    min-height: 100vh;
    height: 100%;
}

.top-main-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city-and-country, .current-date{
    margin: 0;
    padding-top: 20px;
    font-size: 28px;
}

.state{
    margin: 0;
    padding-top: 10px;
    font-size: 18px; 
}

.current-date{
    font-size: 18px;
    margin-right: 20px;
}

.weather-animation-block{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30%;
}

.day-of-week-header{
    font-size: 24px;
}

#mane-weather-animatin{
    height: 350px;
    width: 350px;
    margin: -30px;
}

.current-temp{
    margin: 10px 0;
    font-size: 22px;
}

.weather-direction{
    margin: 5px 0;
    font-size: 18px;
}


@media screen and (max-width:768px) {
    .city-and-country, .current-date{
        padding-top: 8px;
        font-size: 18px;
    }

    .state{
        margin: 0;
        padding-top: 8px;
        font-size: 12px; 
    }
}