.off-loading-screen{
    display: none;
    overflow: hidden;
}

.loading-screen{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    //background-color: black;
    z-index: 9000;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

