.menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    transform: translateX(-130%);
    transition: all 0.3s;
}

.menu.active {
    transform: translateX(0);
}

.blur {
    width: 100vw;
    height: 100vh;
    left: 370px;
    backdrop-filter: blur(2px);
    position: absolute;
}

.menu__content {
    margin-left: 70px;
    width: 300px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
    align-items: flex-start;
    justify-content: space-between;
}

.menu__header{
    padding: 10px;
    text-align: center;
    color: wheat;
}

ul {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

li {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.menu__item_value{
    margin: 5px 0;
    color: wheat;
    font-size: 18px;
}

.menu__item_desc{
    margin: 0;
    color: wheat;
    font-size: 22px;
}

.signature{
    color: wheat;
    align-self: center;
    text-align: center;
    font-size: 18px;
    font-family: 'brush script mt', 'mv boli', 'gabriola'; //brush script mt
}

.material-icons{
    color: white;
    margin-left: 10px;
}

@media screen and (max-width:768px) {
    .menu__content{
        width: 90%;
    }
    .blur{
        backdrop-filter: none;
    }
}