.menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    transform: translateX(-130vw);  //-130%
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.menu.active {
    transform: translateX(0);
}

.blur {
    width: 100vw;
    height: 100vh;
    left: 370px;
    backdrop-filter: blur(2px);
    position: absolute;
}

.menu__content {
    backdrop-filter: blur(4px) invert(0.1);
    margin-left: 70px;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 0 2em 10px 0;
    transition: filter 0.5s;
    
}

.menu__header{
    padding: 10px;
    text-align: center;
    color: wheat;
}

ul {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
}

li {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.menu__item_desc{
    margin: 5px 0;
    color: wheat;
    font-size: 18px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.644);
}

.menu__item_value{
    margin: 0;
    color: wheat;
    font-size: 22px;
}

.signature{
    color: wheat;
    align-self: center;
    text-align: center;
    font-size: 18px;
    font-family: 'brush script mt', 'mv boli', 'gabriola'; //brush script mt
}

.material-icons{
    color: white;
    margin-left: 10px;
}

@media screen and (max-width:768px) {
    .menu__content{
        width: 90%;
    }

    .blur{
        backdrop-filter: none;
        display: none;
    }

    .menu{
        position: fixed;
        width: 100vw;
        height: 90%;
        top: 48px;
        transform: translateY(-150vh);  //-130%
    }

    .menu__content{
        margin-left: 0;
        width: 100%;
        border-radius: 0;
    }
    
    .menu.active {
        transform: translateX(0);
    }

    .menu__item_desc{
        font-size: 14px;
    }

    .menu__item_value{
        font-size: 18px;
    }
}