
$backgroundColor: #5267B3   ;
$widthOfBurgersLine: 35px;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar{
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 50;
    background-color:  rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px) invert(0.1)
    box-shadow none;
}

.burger-btn{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    border: none;
    background-color:  rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px) invert(0.1)
}

.burger-btn:focus{
    background-color:  rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px) invert(0.1)
}

.burger-btn:before{
    margin-left: -10px;
    content: '';
    position: absolute;
    top: 0;
    width: $widthOfBurgersLine;
    background-color: black;
    height: 5px;
    border-radius: 5px;
}

.burger-btn span{
    margin-left: -10px;
    position: absolute;
    top: 12px;
    width: $widthOfBurgersLine;
    background-color: black;
    height: 5px;
    border-radius: 5px;
}

.burger-btn:after{
    margin-left: -10px;
    content: '';
    position: absolute;
    bottom: 0;
    width: $widthOfBurgersLine;
    background-color: black;
    height: 5px;
    border-radius: 5px;
}

@media screen and (max-width:768px) {
    .nav-bar{
        max-width: 100vw;
        width: 100%;
        height: 48px;
    }

    .burger-btn:before{
        margin-top: -10px;
    }

    .burger-btn span{
        margin-top: -10px;
    }

    .burger-btn:after{
        bottom: 10px;
    }

    .burger-btn{
        margin-top: 10px;
    }
}